body {
    background-color: #EEE1C6;
    font-size: 18px;
}


#h {
    font-family: "Rubik", sans-serif;
}

#p {
    font-family: "REM", sans-serif;
}


.website {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.colours {
    background-color: #FCFFE9;
    text-align: center;
    padding: 20px;
}


#iphone15,
#iphone14,
#iphone13 {
    text-align: center;
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    background-color: #FFF2CC;


}

#iphone15 img,
#iphone14 img,
#iphone13 img {
    float: left;
    width: 100%;
    height: auto
}